
@{ 
    Layout = "_Layout1.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Petro Trade Says.. </h1>
    <h5 class="text-danger">You do not have permission to view this resource</h5>
    <img src="~/images/AccessDenied.png" alt="Access Denied Photo" asp-append-version="true" style="height:500px; width: 500px"/>
</div>